<!--
premium_cancel.html - confirmation of cancelling the premium pubscription - for test purposes only, doesn't actually cancel subscription with stripe
-->
{% extends "base.html" %}
{% block title %}Annotations{% endblock %}
{% block body %}
  {% include "header.html" %}
  <div class="container">
    <div class="page-header">
      <h1>Confirmation</h1>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>Premium subscription cancelled</p>
      </div>
    </div>
  </div> <!-- container -->
{% endblock %}
